.footer{
    background-color: #0f0f0f;
    color: ivory;
    font-size: 1.25rem;
    height:8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 -10px 10px -10px #0f0f0f;
}